* {
    margin: 0;
    background-color: gray;
}

.topbar {
    display: flex;
    justify-content: space-between;

    background-color: rgb(39, 39, 39);
    font-family: arial;
    padding: 1em;
}
.btn {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 40px;
    align-items: center;
}
.line {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 3px;
    margin: 3px;
}
.logo {
    background-color: red;
    border-radius: 50px;
    display: block;
    padding: 10px;
    font-size: 1.5em;
}