.topbar {
    display: flex;
    justify-content: space-between;

    background-color: dimgray;
}
.btn {
    display: flex;
    flex-direction: column;
}
.line {
    background-color: gray;
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 3px;
    margin: 5px auto;
}